@import "tailwindcss";

@theme {
  --color-brand-primary: #4338CA;
  --color-brand-success: #10B981;
  
  /* Light mode */
  --color-bg-main: #F8F9FA;
  --color-bg-surface: #FFFFFF;
  --color-text-primary: #0F172A;
  --color-text-muted: #64748B;
  
  /* Fonts */
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
  }

  @media (prefers-color-scheme: dark) {
    body {
      --color-bg-main: #020617;
      --color-bg-surface: #0F172A;
      --color-text-primary: #F8FAFC;
    }
  }
}
